<!-- Footer -->
    
  <footer class="graybox">
    <div class="container" id="footer">
      <div class="row">
        <div class="col-xs-6 text-left">
          <p>
            © 2015
            <br>
            Tequa Builders, LLC.
          </p>
        </div>
        <div class="col-xs-6 text-right">
          <p>
            Website by
            <br>
            <a href="https://dinsmoredesign.com/">Dinsmore Design</a>
          </p>
        </div>
      </div>
    </div>
  </footer>

  <script src="{{site.baseurl}}/js/jquery.min.js"></script>
  <script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
  <script src="{{site.baseurl}}/js/parallax.min.js"></script>

</body>

</html>