<!-- Footer -->
    
  <footer class="orangebox" style="border-top: 5px solid #EEE">
    <div class="container" id="footer">
      <div class="row">
        <div class="col-sm-6 col-md-8 col-xs-12">
          <p>
            © 2017 Tequa Builders, LLC. | All rights reserved.
          </p>
        </div>
        <div class="col-sm-6 col-md-4 col-xs-12">
          <p>
            Website created by 
            <a href="https://dinsmoredesign.com/" target="_blank" title="Visit Dinsmore Design's website">
              Dinsmore Design
            </a>
          </p>
        </div>
      </div>
    </div>
  </footer>

  <script src="{{site.baseurl}}/js/jquery.min.js"></script>
  <script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
  <script src="{{site.baseurl}}/js/parallax.min.js"></script>

</body>

</html>